* {
  margin: 0;
}

body {
  background-color: aqua;
  margin: 0;
}

.menu {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: aquamarine;
  overflow-x: hidden;
  padding-top: 20px;
}

.menu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: gray;
  display: block;
}

.menu a:hover {
  color: white;
}


.main {
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-left: 200px;
  font-size: 28px;
  padding: 0 10px;
  align-items: center;
  
}

.carrusel {
  background-color: bisque;
  margin: 50px 200px;
  width: 800px;
  height: 500px;
  /* position:static; */
  /* z-index: 1; */
  /* overflow-x: hidden; */
}

.contenedor-imagen {
  background-color: blanchedalmond;
  align-items: center;
  width: auto;
  height: auto;
  /* padding-bottom: 100px; */
}

.slider-item {
  width: 800px;
  height: 500px;
}

.inventario {
  background-color: azure;
  border-style: solid;
  margin-left: 200px;
  padding: 0px 10px;
}